{{ if not (eq .cys.desktop "") -}}
[font]
size = 9.5

[font.normal]
family = "monospace"

[colors.primary]
background = "#000000"
foreground = "#eaeaea"

[font.offset]
x = 0
y = 0

[colors.cursor]
cursor = "#e7c547"
text = "#424242"

[colors.bright]
black = "#424242"
blue = "#7aa5da"
cyan = "#70c0b1"
green = "#b9ca4a"
magenta = "#c397d8"
red = "#d54e53"
white = "#eaeaea"
yellow = "#e7c547"

[colors.normal]
black = "#000000"
blue = "#7aa5da"
cyan = "#70c0b1"
green = "#b9ca4a"
magenta = "#c397d8"
red = "#d54e53"
white = "#eaeaea"
yellow = "#e7c547"

[scrolling]
{{ if eq .cys.desktop "KDE" -}}
multiplier = 6
{{- else -}}
multiplier = 10
{{- end }}
{{ end -}}
