# Homes
HOME=${HOME:-{{ .chezmoi.homeDir }}}
XDG_CONFIG_HOME=$HOME/.config
XDG_DATA_HOME=$HOME/.local/share
XDG_CACHE_HOME=$HOME

# Environments
GNUPGHOME=$XDG_CONFIG_HOME/gnupg
CARGO_HOME=$XDG_DATA_HOME/cargo
SSH_AUTH_SOCK=$XDG_RUNTIME_DIR/ssh-agent
ZDOTDIR=$XDG_CONFIG_HOME/zsh
AGDA_DIR=$XDG_CONFIG_HOME/agda
{{- if not (eq .cys.machine "") }}
DMI_PRODUCT_NAME={{ .cys.machine }}
{{- end }}

# PATH
PATH=$HOME/.local/bin:$PATH
PATH=$HOME/.local/bin/scripts:$PATH
PATH=$HOME/.local/bin/wrappers:$PATH
PATH=$HOME/.local/bin/control:$PATH
