[Unit]
Description=Automatic Clash Config Generator
After=envvar-setting.target

[Path]
PathChanged={{ .chezmoi.homeDir }}/.config/clash/settings.yaml
PathChanged={{ .chezmoi.homeDir }}/.config/clash/settings-private.yaml
PathChanged={{ .chezmoi.homeDir }}/.config/clash/proxies.yaml
PathChanged={{ .chezmoi.homeDir }}/.config/clash/proxy-groups.yaml
PathChanged={{ .chezmoi.homeDir }}/.config/clash/rules.yaml
