[Unit]
Description=Automatic Clash Config Generator

[Path]
PathChanged={{ .chezmoi.homeDir }}/.config/clash/settings.yaml
PathChanged={{ .chezmoi.homeDir }}/.config/clash/proxies.yaml
PathChanged={{ .chezmoi.homeDir }}/.config/clash/proxy-groups.yaml
PathChanged={{ .chezmoi.homeDir }}/.config/clash/rules.yaml
PathChanged={{ .chezmoi.homeDir }}/.config/clash/auth
PathChanged={{ .chezmoi.homeDir }}/.config/clash/secret
