# -*- mode: conf -*-

[Unit]
Description=Clash-Meta for localhost
After=envvar-setting.target clash.target

[Service]
Type=exec
Restart=on-abort
ExecStart=/bin/env clash-meta -d ${HOME}/.config/clash-localhost
