[Unit]
Description=Automatic Clash Config Generator

[Path]
PathChanged={{ .chezmoi.homeDir }}/.config/clash-localhost/settings.yaml
PathChanged={{ .chezmoi.homeDir }}/.config/clash-localhost/settings-private.yaml
PathChanged={{ .chezmoi.homeDir }}/.config/clash-localhost/proxies.yaml
PathChanged={{ .chezmoi.homeDir }}/.config/clash-localhost/proxy-groups.yaml
PathChanged={{ .chezmoi.homeDir }}/.config/clash-localhost/rules.yaml
