[Unit]
Description=Clash Config Generator When Required

[Path]
PathChanged={{ .chezmoi.homeDir }}/.config/clash/proxies.yaml
PathChanged={{ .chezmoi.homeDir }}/.config/clash/settings.yaml
PathChanged={{ .chezmoi.homeDir }}/.config/clash/secret
