# -*- mode: conf -*-

[Unit]
Description=KeePass database download

[Service]
Type=simple
ExecStart=/usr/bin/env ${HOME}/.local/bin/scripts/keepass-download
