# -*- mode: conf -*-

[Unit]
Description=KeePass database download regularly
After=envvar-setting.target clash.target

[Timer]
OnStartupSec=0
OnUnitInactiveSec=1000
