# -*- mode: conf -*-

[Unit]
Description=KeePass database download

[Service]
Type=simple
ExecStart=sh ${HOME}/.config/sh/profexec.sh path keepass-download
