# -*- mode: conf -*-

[Unit]
Description=network wait online
After=envvar-setting.target

[Service]
Type=oneshot
ExecStart=/usr/bin/nm-online -s -q
RemainAfterExit=yes
