[Unit]
Description=Pacman Mirrorlist Generator When Required
After=envvar-setting.target

[Path]
PathChanged={{ .chezmoi.homeDir }}/.config/pacman/mirrors.yaml
PathChanged={{ .chezmoi.homeDir }}/.config/synloc/nominatim
