# -*- mode: conf -*-

[Unit]
Description=geographical address update automatically
After=envvar-setting.target network-wait-online.target

[Path]
PathChanged={{ .chezmoi.homeDir }}/.config/synloc/latitude
PathChanged={{ .chezmoi.homeDir }}/.config/synloc/longitude
